img {
    display: block;
    margin-top: 100px;
    margin-left: -35px;
    height: 300px;
    width: 550px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
    cursor: pointer;
    will-change: transform, opacity;
}

.pro.show img {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s;
}

img:hover {
    transform: scale(1.05) rotate(3deg);
}
